
/* name */
h1 {
    color: rgb(52, 205, 10) ;
  }

/*id*/
  #btn1 {
    background-color: yellow;
  }

  /*id*/
  #btn2 {
    background-color: red;
  }

  /*id*/
  #btn3 {
    background-color: purple;
  }

  /*id*/
  #btn4 {
    background-color: black;
  }

  /*id*/
  #btn5 {
    background-color: pink;
  }
  /*id*/
  #btn6 {
    background-color: grey;
  }

  .text-white {
  color: white;
} 

  /*class*/
  span.classy {
    background-color: DodgerBlue;
  }

/*several classes*/
  h2, h3 {
    color: pink;
  }

  /* вложенный */
  .item {
    border: 3px solid green;
  }

  /* сподіваюся це є декілька класів*/
  .text1, .text2 {
    color: red
  }

   /* сподіваюся це є вкладений*/
  .parent > p {
    color: red;
  }